/*
	05/18/2014
	Sources:
*/

.CodeMirror {
	height: 100%;
}

.code-widget {
	background-color: red;
}

.num-manip {
	visibility: hidden;
	position: absolute;
	width: 2rem;
	height: .7rem;
	z-index: 100;
}

.manip-arrow {
	float: left;
	width: 50%;
	height: 100%;
}

.manip-left {
	/*image*/
}

.manip-right {
	/*image*/
}

.code-button {
	background-color: blue;
}
